# SQLite. Versions 3.8.0 and up are supported.
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
 adapter: mysql2
 encoding: utf8mb4
 collation: utf8mb4_bin
 pool: 10
 username: root
 password: 12345
# socket: /tmp/mysql.sock


development:
 <<: *default
 database: sample_development

test:
 <<: *default
 database: sample_test

production:
 <<: *default
 database: production
